/************************************************** site title */
.main-title {
  font-size: 2rem;
  margin-top: 8rem;
  line-height: 1.3;
}

@media (min-width: 500px) {
  .main-title {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .main-title {
    margin-top: 3rem;
  }
}

/************************************************** products container */
.products-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  grid-gap: 2rem;
  margin: 4rem 0;
}

@media (min-width: 992px) {
  .products-container {
    grid-template-columns: auto auto;
    margin: 3rem 0;
  }
}

@media (min-width: 1250px) {
  .products-container {
    grid-template-columns: auto auto auto auto;
    grid-gap: 1.5rem;
  }
}
