/************************************************** header container */
.large-header-bg {
  display: none;
}

.small-header-bg {
  padding: 1rem 1rem 0;
  height: 4rem;
  background-color: #fbfbf2;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  position: relative;
}

@media (min-width: 768px) {
  .small-header-bg {
    height: 6rem;
    padding: 1.5rem 1.5rem 0;
  }
}

@media (min-width: 992px) {
  .small-header-bg {
    display: none;
  }

  .large-header-bg {
    padding: 2rem 1rem 0;
    height: 4rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

/************************************************** nav links */
.nav-container {
  background-color: #fbfbf2;
  position: absolute;
  top: 1rem;
  display: grid;
  width: 13rem;
  justify-items: start;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.nav-container a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.nav-container a:hover {
  color: #a6a2a2;
}

@media (min-width: 768px) {
  .nav-container {
    width: 19rem;
  }
}

@media (min-width: 992px) {
  .nav-container2 a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    margin: 0 1rem 0 0;
  }

  .nav-container2 a:hover {
    color: #a6a2a2;
  }
}

/************************************************** logo image */
.logo-img {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.logo-img:hover {
  height: 1.6rem;
  width: 1.6rem;
}

@media (min-width: 768px) {
  .logo-img {
    height: 2.5rem;
    width: 2.5rem;
  }

  .logo-img:hover {
    height: 2.6rem;
    width: 2.6rem;
  }
}

@media (min-width: 992px) {
  .logo-img {
    height: 2rem;
    width: 2rem;
  }

  .logo-img:hover {
    height: 2rem;
    width: 2rem;
  }
}

/************************************************** bar icon */
.fa-solid.fa-bars {
  cursor: pointer;
  font-size: 1.5rem;
  height: 0rem;
  z-index: 1;
}

.fa-solid.fa-bars:hover {
  color: #a6a2a2;
}

@media (min-width: 768px) {
  .fa-solid.fa-bars {
    font-size: 2rem;
  }
}

/************************************************** cart icon */
@media (min-width: 992px) {
  .fa-solid.fa-cart-shopping {
    font-size: 1.2rem;
    height: 0rem;
    cursor: pointer;
    margin: 0 2rem 0 0;
  }

  .fa-solid.fa-cart-shopping:hover {
    color: #a6a2a2;
  }
}

/************************************************** user icon */
.fa-solid.fa-user {
  font-size: 1.5rem;
  height: 0rem;
  cursor: pointer;
}

.fa-solid.fa-user:hover {
  color: #a6a2a2;
}

@media (min-width: 768px) {
  .fa-solid.fa-user {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .fa-solid.fa-user {
    font-size: 1.2rem;
  }
}
